.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  /* choose any: 100–900 */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  /* choose any: 100–900 */
  font-style: normal;
}

.carousel-item img {
  height: 80vh;
  width:60vh;
}
